<div class="text-center"><H2>Günlük Raporlar</H2></div>
<div class="container mt-3">
  <div class="row mb-3">
    <div class="col-md-3">
      <select class="form-control" (change)="onMakineSelect($event)">
        <option value="">Select Machine</option>
        <option *ngFor="let makine of makineler" [value]="makine.id">
          {{makine.makineIsmi}}
        </option>
      </select>
    </div>
    <div class="col-md-3">
      <input type="date" class="form-control" [(ngModel)]="startDate" placeholder="Start Date">
    </div>
    <div class="col-md-3">
      <input type="date" class="form-control" [(ngModel)]="finishDate" placeholder="End Date">
    </div>
    <div class="col-md-3">
      <button class="btn btn-primary" (click)="getRaporByDateRange()">Search</button>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Kablo İsmi</th>
        <th scope="col">Metraj</th>
        <th scope="col">Kesit Alanı</th>
        <th scope="col">Verimlilik</th>
        <th scope="col">Genel Arıza</th>
        <th scope="col">Renk Değişimi</th>
        <th scope="col">Renk Değişimi Kaybı</th>
        <th scope="col">Kesit Değişimi Kaybı</th>
        <th scope="col">Kopma</th>
        <th scope="col">Kopma Kaybı</th>
        <th scope="col">Isınma</th>
        <th scope="col">Hurda PVC</th>
        <th scope="col">Hurda Cu</th>
        <th scope="col">Çalışma Süresi</th>
        <th scope="col">Kayıp Zaman</th>
        <th scope="col">Tarih</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rapor of gunlukRaporlar | paginate:{
        itemsPerPage:paginationProp.tableSize,
        currentPage:paginationProp.page,
        totalItems:paginationProp.count}; let i =index">
        <td>{{rapor.kabloIsmi}}</td>
        <td>{{rapor.metraj}}</td>
        <td>{{rapor.kesitAlani}}</td>
        <td>{{rapor.verimlilik}}</td>
        <td>{{rapor.genelAriza}}</td>
        <td>{{rapor.renkDegisimi}}</td>
        <td>{{rapor.renkDegisimiKaybi}}</td>
        <td>{{rapor.kesitDegisimiKaybi}}</td>
        <td>{{rapor.kopma}}</td>
        <td>{{rapor.kopmaKaybi}}</td>
        <td>{{rapor.isinma}}</td>
        <td>{{rapor.hurdaPvc}}</td>
        <td>{{rapor.hurdaCu}}</td>
        <td>{{rapor.calismaSuresi}}</td>
        <td>{{rapor.kayipZaman}}</td>
        <td>{{rapor.tarih | date:'dd/MM/yyyy'}}</td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)">
    </pagination-controls>
  </div>
</div>