<body class="text-center">
  <main class="form-signin w-100 m-auto">
    <form [formGroup]="registerForm">
      <h1 class="h3 mb-3 fw-normal">Register</h1>

      <div class="form-floating">
        <input formControlName="email" type="email" class="form-control" id="floatingEmail" placeholder="Email">
        <label for="floatingEmail">Email</label>
      </div>
      <div class="form-floating">
        <input formControlName="username" type="text" class="form-control" id="floatingUsername" placeholder="Username">
        <label for="floatingUsername">Username</label>
      </div>
      <div class="form-floating">
        <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>

      <button (click)="register()" class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
    </form>
  </main>
</body>