<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Ana Menü</h1>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img
              class="card-img-top"
              data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"
              alt="Card image cap"
            />
            <div class="card-body " routerLink="/kablouretim">
              <h1 class="card-title text-center"><strong>Kablo Üretim</strong></h1>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              
            </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img 
                class="card-img-top"
                src="assets/images/dsaa.png"
                alt="Card image cap"
              />
              <div class="card-body " routerLink="/cctvsecme">
                <h1 class="card-title text-center"><strong>Cctv</strong></h1>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <div
                  class="d-flex justify-content-between align-items-center"
                ></div>
              </div>
            </div>
          </div> <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img
                class="card-img-top"
                data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"
                alt="Card image cap"
              />
              <div class="card-body " routerLink="/kablouretim">
                <h1 class="card-title text-center"><strong>Kablo Üretim</strong></h1>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <div
                  class="d-flex justify-content-between align-items-center"
                ></div>
              </div>
            </div>
          </div> <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img
                class="card-img-top"
                data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"
                alt="Card image cap"
              />
              <div class="card-body " routerLink="/kablouretim">
                <h1 class="card-title text-center"><strong>Kablo Üretim</strong></h1>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <div
                  class="d-flex justify-content-between align-items-center"
                ></div>
              </div>
            </div>
          </div> <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img
                class="card-img-top"
                data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"
                alt="Card image cap"
              />
              <div class="card-body " routerLink="/kablouretim">
                <h1 class="card-title text-center"><strong>Kablo Üretim</strong></h1>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <div
                  class="d-flex justify-content-between align-items-center"
                ></div>
              </div>
            </div>
          </div> <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img
                class="card-img-top"
                data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"
                alt="Card image cap"
              />
              <div class="card-body " routerLink="/kablouretim">
                <h1 class="card-title text-center"><strong>Kablo Üretim</strong></h1>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <div
                  class="d-flex justify-content-between align-items-center"
                ></div>
              </div>
            </div>
          </div> <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img
                class="card-img-top"
                data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"
                alt="Card image cap"
              />
              <div class="card-body " routerLink="/kablouretim">
                <h1 class="card-title text-center"><strong>Kablo Üretim</strong></h1>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <div
                  class="d-flex justify-content-between align-items-center"
                ></div>
              </div>
            </div>
          </div> <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img
                class="card-img-top"
                data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"
                alt="Card image cap"
              />
              <div class="card-body " routerLink="/kablouretim">
                <h1 class="card-title text-center"><strong>Kablo Üretim</strong></h1>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <div
                  class="d-flex justify-content-between align-items-center"
                ></div>
              </div>
            </div>
          </div> <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img
                class="card-img-top"
                data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"
                alt="Card image cap"
              />
              <div class="card-body " routerLink="/kablouretim">
                <h1 class="card-title text-center"><strong>Kablo Üretim</strong></h1>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <div
                  class="d-flex justify-content-between align-items-center"
                ></div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</main>
