<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Ana Menü</h1>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div  class="col-md-4">
          <div routerLink="/kablouretim" class="card mb-4 box-shadow">
            <img
              class="card-img-top"
              src="assets\images\OperatorVeriGirisi.png"
              alt="Card image cap"
            />
            <div class="card-body " >
              <h1 class="card-title text-center"><strong>Operatör Veri Girişi</strong></h1>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              
            </div>
          </div>
        </div>
        <div class="col-md-4">
            <div routerLink="/Sarfiyat" class="card mb-4 box-shadow">
              <img 
                class="card-img-top"
                src="assets\images\Sarfiyat.png"
                alt="Card image cap"
              />
              <div class="card-body ">
                <h1 class="card-title text-center"><strong>Sarfiyat</strong></h1>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <div
                  class="d-flex justify-content-between align-items-center"
                ></div>
              </div>
            </div>
          </div> <div  class="col-md-4">
            <div routerLink="/DizaynSecmeMenu" class="card mb-4 box-shadow">
              <img
                class="card-img-top"
                src="assets\images\wiredesign.png"
                alt="Card image cap"
              />
              <div class="card-body " >
                <h1 class="card-title text-center"><strong>Dizayn</strong></h1>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <div
                  class="d-flex justify-content-between align-items-center"
                ></div>
              </div>
            </div>
          </div> <div class="col-md-4">
            <div routerLink="/MakineGunlukRapor" class="card mb-4 box-shadow ">
              <img
                class="card-img-top"
                src="assets\images\gunlukRapor.png"
                alt="Card image cap"
              />
              <div class="card-body " >
                <h1 class="card-title text-center"><strong>Makine Günlük Rapor</strong></h1>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <div
                  class="d-flex justify-content-between align-items-center"
                ></div>
              </div>
            </div>
          </div> <div class="col-md-4">
            <div routerLink="/GrafikMenu" class="card mb-4 box-shadow">
              <img
                class="card-img-top"
                src="assets\images\grafikler.png"
                alt="Card image cap"
              />
              <div class="card-body " >
                <h1 class="card-title text-center"><strong>Grafikler</strong></h1>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <div
                  class="d-flex justify-content-between align-items-center"
                ></div>
              </div>
            </div>
          </div><div class="col-md-4">
            <div routerLink="/SabitVerilerMenu" class="card mb-4 box-shadow">
              <img
                class="card-img-top"
                src="assets\images\sabitVeriler.png"
                alt="Card image cap"
              />
              <div class="card-body " >
                <h1 class="card-title text-center"><strong>Makine Sabit Verileri</strong></h1>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <div
                  class="d-flex justify-content-between align-items-center"
                ></div>
              </div>
            </div>
          </div> <div class="col-md-4">
            <div routerLink="/OperatorIsEmirleri" class="card mb-4 box-shadow">
              <img
                class="card-img-top"
                src="assets\images\operatorIsEmirleri.png"
                alt="Card image cap"
              />
              <div class="card-body " >
                <h1 class="card-title text-center"><strong>Operatör İş Emirleri</strong></h1>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <div
                  class="d-flex justify-content-between align-items-center"
                ></div>
              </div>
            </div>
          </div><div class="col-md-4">
            <div   routerLink="/kablouretim" class="card mb-4 box-shadow">
              <img
                class="card-img-top"
                src="assets\images\irsaliye.png"
                alt="Card image cap"
              />
              <div class="card-body ">
                <h1 class="card-title text-center"><strong>İrsaliye</strong></h1>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <div
                  class="d-flex justify-content-between align-items-center"
                ></div>
              </div>
            </div>  
          </div> <div class="col-md-4">
            <div routerLink="/kablouretim" class="card mb-4 box-shadow">
              <img
                class="card-img-top"
                src="assets\images\veritabanıŞablonlari.png"
                alt="Card image cap"
              />
              <div class="card-body " >
                <h1 class="card-title text-center"><strong>Veritabanları</strong></h1>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <div
                  class="d-flex justify-content-between align-items-center"
                ></div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</main>
