<div class="text-center">
  <h1>CCTV Genel Dizayn Tablosu</h1>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Kablo İsmi</th>
        <th scope="col">Tarih</th>
      </tr>
    </thead>
    <tbody>
      <tr scope="col"
      (click)="setSelectedKablo(kablo)"
      [class]="setRowColor(kablo)"
        *ngFor="let kablo of kablolar">
      
        <td>{{kablo.id}}</td>
        <td>{{kablo.kablo}}</td>
        <td>{{kablo.tarih}}</td>
        <td><button routerLink="/cctvdamardizayn/getByCctvGenelDizaynId/{{kablo.id}}" class="btn btn-info">Damar Dizayn</button></td>


      </tr>
      
    </tbody>
    <div class="row">
      <div class="col col-md-4">
        <br>
        <button type="button" routerLink="/CctvGenelDizayn/Add" class="btn btn-outline-primary">Kablo Ekle</button>

      </div>
      <div class="col col-md-4">
        <br>
      
        <button  type="button" (click)="deleteKablo(selectedKablo)" class="btn btn-outline-primary">Sil</button>
      </div>
    </div>
  </table>