<div class="text-center">
    <h1>Yangın Damar Dizayn</h1>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
      <th scope="col">Ana Id</th>
      <th scope="col">Damar No</th>
      <th scope="col">Renk</th>
      <th scope="col">Kesit</th>
      <th scope="col">Etk</th>
      <th scope="col">Çap</th>
      <th scope="col">Back</th>
      <th scope="col">Ayna</th>
      <th scope="col">Kalıp</th>
      <th scope="col">Hatve</th>
      </tr>
    </thead>
    <tbody>
      <tr
        scope="col"
        (click)="setSelectedKablo(damar)"
        [class]="setRowColor(damar)"
        *ngFor="let damar of damarlar"
      >
      <td>{{ damar.id }}</td>
      <td>{{ damar.anaId }}</td>
      <td>{{ damar.damarNo }}</td>
      <td>{{ damar.renk }}</td>
      <td>{{ damar.kesitCapi }}</td>
      <td>{{ damar.etk }}</td>
      <td>{{ damar.cap }}</td>
      <td>{{ damar.back }}</td>
      <td>{{ damar.ayna }}</td>
      <td>{{ damar.kalip }}</td>
      <td>{{ damar.hatve }}</td>
      </tr>
    </tbody>
   
    <div class="row">
      <div class="col col-md-4">
        <br>
        <button type="button" routerLink="/yangindamardizayn/add" class="btn btn-outline-primary">Kablo Ekle</button>
  
      </div>
      <div class="col col-md-4">
        <br>
        <button  type="button" (click)="deleteKablo(selectedKablo)" class="btn btn-outline-primary">Sil</button>
      </div>
    </div>
  </table>
  