<section class="jumbotron text-center">
    <div class="container">
        <br>
      <h1 class="jumbotron-heading">Sarfiyat Grafiği</h1>
    </div>
  </section>
  <br>
  <br><div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      Date Picker:<input type="date" [(ngModel)]="startDate" />
    </div>
    <div class="col-md-4">
      Date Picker:<input type="date" [(ngModel)]="finishDate" />
    </div>
  </div>
  <div style="margin-left: 480px; margin-top: 50px; width: 200px">
    <div class="col-md-15">
      <label for="makineler"><h5>Bir makine seçin:</h5> </label>
      <select
        class="form-select"
        [(ngModel)]="selectedMakineIsmi"
        name="makineler"
        id="makineler"
      >
        <option *ngFor="let makine of makineler">{{ makine.makineIsmi }}</option>
      </select>
    </div>
    <button
      style="margin-left: 15px; margin-top: 50px; width: 150px; height: 50px"
      (click)="
        getData(startDate, finishDate)
      "
    >
      Seç
    </button>
  </div>
  <div class="row">
    <div class="col-md-8">
      <canvas id="sarfiyatChart"></canvas>


    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-5">

        </div>
        <div style="margin-left: 75px; " class="col">
          <br><br>
          <div>
            <h5>Kullanılan PVC (gr): {{toplamKullanilanPVC}}</h5>

          </div>
          <br>
          <h5>Kullanılan Cu (gr) : {{toplamKullanilanCu}}</h5>
          <br>
          <h5>Hurda PVC (gr):{{toplamHurdaPVC}}</h5>
          <br>
          <h5>Hurda Cu (gr) : {{toplamHurdaCu}}</h5>
          
        </div>
      </div>
    </div>
  </div>

