<div class="text-center">
    <H1>Yangin İş Emirleri</H1>
  </div>
  
  <input type="text" placeholder="Kablo İsmi" [(ngModel)]="filterText" />
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">İsim</th>
        <th scope="col">Barkod</th>
        <th scope="col">Tamamlanma Durumu</th>
        <th scope="col">Tarih</th>
        <th scope="col">Degistiren</th>
      </tr>
    </thead>
    <tbody>
      <tr
        scope="col"
        (click)="setSelectedIsEmri(isEmri)"
        [class]="setRowColor(isEmri)"
        *ngFor="let isEmri of isEmirleri | kabloIsmiFilter: filterText | paginate:{
          itemsPerPage:paginationProp.tableSize,
          currentPage:paginationProp.page,
          totalItems:paginationProp.count}; let i =index"
      >
      <td>{{ isEmri.id }}</td>
      <td>{{ isEmri.isim }}</td>
      <td>{{ isEmri.barkod }}</td>
      <td>{{ isEmri.tamamlanmaDurumu }}</td>
      <td>{{ isEmri.tarih }}</td>
      <td>{{ isEmri.degistiren }}</td>
      </tr>
    </tbody>
    <div>
      <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)" >
      </pagination-controls>
    </div>
    <div class="row">
      <div class="col col-md-4">
        <br />
        <button
          type="button"
          routerLink="/Yangin/YanginIsEmirleri/add"
          class="btn btn-outline-primary"
        >
          Kablo Ekle
        </button>
      </div>
      <div class="col col-md-4">
        <br />
        <button
          type="button"
          (click)="deleteIsEmri(selectedIsEmri)"
          class="btn btn-outline-primary"
        >
          Sil
        </button>
      </div>
    </div>
  </table>
  