<div class="text-center">
    <h1>CCTV Genel Dizayn Veri Girişi</h1>
  </div>
  <div class="content">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="CctvGenelUpdateForm">
              <div class="form-group">
                <label for="kabloIsmi">Kablo İsmi</label>
                <input
                  type="text"
                  id="kabloIsmi"
                  formControlName="kablo"
                  class="form-control"
                  placeholder="Kablo İsmi"
                />
              </div>
              <label for="kesit">Kesit</label>
              <div class="form-group">
                <input
                  type="number"
                  id="kesit"
                  formControlName="kesit"
                  class="form-control"
                  placeholder="kesit"
                />
              </div>
              <label for="core">Core</label>
              <div class="form-group">
                <input
                  type="text"
                  id="core"
                  formControlName="core"
                  class="form-control"
                  placeholder="core"
                />
              </div>
              <label for="hatve">Hatve</label>
              <div class="form-group">
                <input
                  type="number"
                  id="hatve"
                  formControlName="hatve"
                  class="form-control"
                  placeholder="hatve"
                />
              </div>
              <label for="orgu">Örgü</label>
              <div class="form-group">
                <input
                  type="number"
                  id="orgu"
                  formControlName="orgu"
                  class="form-control"
                  placeholder="orgu"
                />
              </div>
              <label for="orguTelYapisi">Örgü Tel Yapısı</label>
              <div class="form-group">
                <input
                  type="text"
                  id="orguTelYapisi"
                  formControlName="orguTelYapisi"
                  class="form-control"
                  placeholder="orguTelYapisi"
                />
              </div>
              <label for="polyesterOlcusu">Polyester Ölçüsü</label>
              <div class="form-group">
                <input
                  type="number"
                  id="polyesterOlcusu"
                  formControlName="polyesterOlcusu"
                  class="form-control"
                  placeholder="polyesterOlcusu"
                />
              </div>
              <label for="folyoTipi">Folyo Tipi</label>
              <div class="form-group">
                <input
                  type="text"
                  id="folyoTipi"
                  formControlName="folyoTipi"
                  class="form-control"
                  placeholder="folyoTipi"
                />
              </div>
              <label for="folyoOlcusu">Folyo Ölçüsü</label>
              <div class="form-group">
                <input
                  type="number"
                  id="folyoOlcusu"
                  formControlName="folyoOlcusu"
                  class="form-control"
                  placeholder="folyoOlcusu"
                />
              </div>
              <label for="disKilif">Dış Kılıf</label>
              <div class="form-group">
                <input
                  type="number"
                  id="disKilif"
                  formControlName="disKilif"
                  class="form-control"
                  placeholder="disKilif"
                />
              </div>
              <label for="disCap">Dış Çap</label>
              <div class="form-group">
                <input
                  type="number"
                  id="disCap"
                  formControlName="disCap"
                  class="form-control"
                  placeholder="disCap"
                />
              </div>
              <label for="back">Back</label>
              <div class="form-group">
                <input
                  type="number"
                  id="back"
                  formControlName="back"
                  class="form-control"
                  placeholder="back"
                />
              </div>
              <label for="ayna">Ayna</label>
              <div class="form-group">
                <input
                  type="number"
                  id="ayna"
                  formControlName="ayna"
                  class="form-control"
                  placeholder="ayna"
                />
              </div>
              <label for="kalip">Kalıp</label>
              <div class="form-group">
                <input
                  type="text"
                  id="kalip"
                  formControlName="kalip"
                  class="form-control"
                  placeholder="kalip"
                />
              </div>
              <label for="damarSayisi">Damar Sayısı</label>
              <div class="form-group">
                <input
                  type="number"
                  id="damarSayisi"
                  formControlName="damarSayisi"
                  class="form-control"
                  placeholder="damarSayisi"
                />
              </div>
              
            </form>
          </div>
          <div class="card-footer">
            <button class="btn btn-fill btn-primary" (click)="update()">Güncelle</button>
          </div>
        </div>
      </div>
    </div>
    