<br><br>
<div class="text-center "><h1 style="color: rgb(0, 0, 243);">Dizayn Menüsü</h1></div>
<br><br><br>

<div class="row">
    <div class="col-md-4">
      <div [routerLink]="['/geneldizayn/list', 'CCTV']" class="card mb-4 box-shadow">
        <img
          class="card-img-top"
          src="assets\images\CctvCameras.png"
          alt="Card image cap"
        />
        <div class="card-body ">
          <h1 class="card-title text-center"><strong>Cctv</strong></h1>
          <p class="card-text">
            This is a wider card with supporting text below as a natural
            lead-in to additional content. This content is a little bit
            longer.
          </p>
          
        </div>
      </div>
    </div>
    <div class="col-md-4">
        <div [routerLink]="['/geneldizayn/list', 'YANGIN']" class="card mb-4 box-shadow">
          <img 
            class="card-img-top"
            src="assets/images/firecable.png"
            alt="Card image cap"
          />
          <div class="card-body " >
            <h1 class="card-title text-center"><strong>Yangın</strong></h1>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
            <div
              class="d-flex justify-content-between align-items-center"
            ></div>
          </div>
        </div>
      </div> <div class="col-md-4">
        <div [routerLink]="['/geneldizayn/list', 'TELEFON']" class="card mb-4 box-shadow">
          <img
            class="card-img-top"
            src="assets\images\phoneCable.png"
            alt="Card image cap"
          />
          <div class="card-body " >
            <h1 class="card-title text-center"><strong>Telefon</strong></h1>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
            <div
              class="d-flex justify-content-between align-items-center"
            ></div>
          </div>
        </div>
      </div><div class="col-md-4">
        <div [routerLink]="['/geneldizayn/list', 'zayifakim']"  class="card mb-4 box-shadow">
          <img
            class="card-img-top"
            src="assets\images\lowVoltageCable.png"
            alt="Card image cap"
          />
          <div class="card-body " >
            <h1 class="card-title text-center"><strong>Zayıf Akım</strong></h1>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
            <div
              class="d-flex justify-content-between align-items-center"
            ></div>
          </div>
        </div>
      </div><div class="col-md-4"></div><div class="col-md-4">
        <div [routerLink]="['/geneldizayn/list', 'tekdamar']"  class="card mb-4 box-shadow">
          <img
            class="card-img-top"
            src="assets\images\tekDamarKablo.png"
            alt="Card image cap"
          />
          <div class="card-body " >
            <h1 class="card-title text-center"><strong>Tek Damar</strong></h1>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
            <div
              class="d-flex justify-content-between align-items-center"
            ></div>
          </div>
        </div>
      </div>
