<div class="content">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="kabloUretimAddForm">
            <div class="form-group">
              <label for="kabloIsmi">Kablo İsmi</label>
              <input
                type="text"
                id="kabloIsmi"
                formControlName="kabloIsmi"
                class="form-control"
                placeholder="Kablo İsmi"
              />
            </div>
            <label for="makineId">Makina Id</label>
            <div class="form-group">
              <input
                type="number"
                id="makineId"
                formControlName="makineId"
                class="form-control"
                placeholder="Makina Id"
              />
            </div>
            <label for="kesitAlani">Kesit Alanı</label>
            <div class="form-group">
              <input
                type="number"
                id="kesitAlani"
                formControlName="kesitAlani"
                class="form-control"
                placeholder="Kesit Alanı"
              />
            </div>
            <label for="metraj">Metraj</label>
            <div class="form-group">
              <input
                type="number"
                id="metraj"
                formControlName="metraj"
                class="form-control"
                placeholder="Metraj"
              />
            </div>
            <label for="kopma">Kopma</label>
            <div class="form-group">
              <input
                type="number"
                id="kopma"
                formControlName="kopma"
                class="form-control"
                placeholder="Kopma"
              />
            </div>
            <label for="renkDegisimi">Renk Değişimi</label>
            <div class="form-group">
              <input
                type="number"
                id="renkDegisimi"
                formControlName="renkDegisimi"
                class="form-control"
                placeholder="Renk Değişimi"
              />
            </div>
            <label for="genelAriza">Genel Arıza</label>
            <div class="form-group">
              <input
                type="number"
                id="genelAriza"
                formControlName="genelAriza"
                class="form-control"
                placeholder="Genel Arıza"
              />
            </div>
            <label for="hurdaPvc">Hurda Pvc</label>
            <div class="form-group">
              <input
                type="number"
                id="hurdaPvc"
                formControlName="hurdaPvc"
                class="form-control"
                placeholder="Hurda Pvc"
              />
            </div>
            <label for="hurdaCu">Hurda Cu</label>
            <div class="form-group">
              <input
                type="number"
                id="hurdaCu"
                formControlName="hurdaCu"
                class="form-control"
                placeholder="Hurda Cu"
              />
            </div>
            <label for="calismaSuresi">Calışma Süresi</label>
            <div class="form-group">
              <input
                type="number"
                id="calismaSuresi"
                formControlName="calismaSuresi"
                class="form-control"
                placeholder="Calışma Süresi (dk)"
              />
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button class="btn btn-fill btn-primary" (click)="add()">Ekle</button>
        </div>
      </div>
    </div>
  </div>
  